body {
    background-color: #EEEEEE;
}

h1, h2 {
    color: #176B87;
}

p, li {
    color: #053B50;
}

.logo {
    border-color: #64CCC5;
}

.btn {
    color: #053B50;
    background-color: #64CCC5;
}

.line {
    background-color: #0E5E6F;
}



.options li:hover {
    color: #0E5E6F;
    border-bottom: 1px solid #FFEFD6;
}

.btn:hover {
    transform: translate(-4px, -4px);
    color: #E4F9F5;
    background-color: #11999E;
}

.projects .card {
    background-color: #64CCC5;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}