body {
    background-color: #FFE6C7;
}

h1, h2 {
    color: #FF6000;
}

p, li {
    color: #454545;
}

.logo {
    border-color: #150050;
}

.btn {
    color: #FFE6C7;
    background-color: #FFA559;
}

.line {
    background-color: #454545;
}



.options li:hover {
    color: #0E5E6F;
    border-bottom: 1px solid #FFEFD6;
}

.btn:hover {
    transform: translate(-4px, -4px);
    color: #E4F9F5;
    background-color: #11999E;
}

.projects .card {
    background-color: #F2DEBA;
;
}