@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}


/*********************
TYPOGRAPHY
*********************/

h1, h2, p, li {
    font-family: 'Open Sans';
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p, li {
    font-size: 1rem;
}

/*********************
MIXED
*********************/

.about img {
    width: 50%;
}

.verti {
    writing-mode: vertical-lr;
}

.code, .btn {
    font-family: 'Fira Code';
}

.btn {
    width: fit-content;
    padding: 12px;
    border: 2px solid black;
    border-radius: 6px;
}

.logo {
    width: 50px;
    height: 50px;

    border: 2px solid black;
    border-radius: 50%;
}

.line {
    width: 10px;
    height: 100px;
    background-color: black;
}

/*********************
NAV-BARS
*********************/

/* top-nav */

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    margin: 10px;

    border-bottom: 1px solid black;
}

.top-nav * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav .options li {
    margin-left: 20px;
}

/* side-navs */
.left-nav, .right-nav {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: end;

    width: 128px;
    height: 100%;

    border: 2px solid black;
}

.left-nav {
    left: 0;
}
.left-nav img {
    padding-bottom: 20px;
    width: 32px;
    height: 32px;
}

.right-nav {
    right: 0;
}
.right-nav .verti {
    padding-bottom: 20px;
}


/*********************
MAIN
*********************/

.main {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    flex-basis: 100%;

    margin: 0 128px;
}

.main > div {
    padding: 64px;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
}

.intro > * {
    flex: 1;
}

.intro .code {
    padding-bottom: 16px;
}

.intro p {
    width: 50%;
    padding-top: 16px;
}

.intro .btn {
    margin-top: 48px;
}

/* about */
.about .data {
    display: flex;
}

.about .data p, .about .data ul {
    padding-top: 16px;
}