@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}


/*********************
TYPOGRAPHY
*********************/

h1, h2, p, li {
    font-family: 'Open Sans';
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p, li {
    font-size: 1rem;
}

/*********************
MIXED
*********************/

.verti {
    writing-mode: vertical-lr;
}

.code, .btn {
    font-family: 'Fira Code';
}

.btn {
    width: fit-content;
    padding: 12px;
    border: 2px solid black;
    border-radius: 6px;
}

.logo {
    width: 50px;
    height: 50px;

    border: 2px solid black;
    border-radius: 50%;
}

/*********************
NAV-BARS
*********************/

/* top-nav */

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    margin: 10px;

    border-bottom: 1px solid black;
}

.top-nav * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav .options li {
    margin-left: 20px;
}

/* side-navs */
.left-nav, .right-nav {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: end;

    width: 128px;
    height: 100%;

    border: 2px solid black;
}

.line {
    width: 6px;
    height: 100px;
    background-color: black;
    border-radius: 6px;
}

.left-nav {
    left: 0;
}
.left-nav img {
    padding-bottom: 20px;
    width: 32px;
    height: 32px;
}

.right-nav {
    right: 0;
}
.right-nav .verti {
    padding-bottom: 20px;
}


/*********************
MAIN
*********************/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 128px;
}

.main > div {
    padding: 50px;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    box-sizing: border-box;
    
    width: 100%;
    max-width: 1000px;
}

.intro .code {
    padding-bottom: 16px;
}

.intro p {
    max-width: 512px;
    padding-top: 16px;
}

.intro .btn {
    margin-top: 48px;
}

/* about */
.about {
    max-width: 900px;
    box-sizing: border-box;
}

.about .data {
    display: flex;
    align-items: start;
    justify-content: center;
}

.about .data .para {
    width: 100%;
    max-width: 510px;
}

.about .data .dp {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 64px 16px;
}

.about .data .para .tech-used {
    display: flex;
    justify-content: left;
}

.about .data p, .about .data ul {
    padding-top: 16px;
}

.about .data ul {
    padding-left: 16px;
    margin-right: 16px;
}

.about .data img {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 6px;
}

/* education */
.education {
    width: 100%;
    max-width: 700px;
    margin: auto;
}
/*********************
media queries
*********************/

@media (max-width: 1256px) {
    .intro h1 {
        font-size: 5vw;
    }
}

@media (max-width: 760px) {
    .main {
        padding: 0;
    }

    .intro h1 {
        font-size: 7vw;
    }
    
    h2 {
        font-size: 5vw;
    }

    .right-nav, .left-nav {
        display: none;
    }

    .about .data {
        flex-direction: column;
        align-items: center;
    }

    .about .data .para {
        max-width: 100%;
    }
}