@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}


/*********************
TYPOGRAPHY
*********************/

h1, h2, h3, p, li {
    font-family: 'Open Sans';
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p, li {
    font-size: 1rem;
}

/*********************
MIXED
*********************/

.verti {
    writing-mode: vertical-lr;
}

.code, .btn {
    font-family: 'Fira Code';
}

.btn {
    width: fit-content;
    padding: 12px;
    border: 2px solid black;
    border-radius: 6px;
}

.logo {
    width: 50px;
    height: 50px;

    border: 2px solid black;
    border-radius: 50%;
}

/*********************
NAV-BARS
*********************/

/* top-nav */

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    margin: 10px;

    border-bottom: 1px solid black;
}

.top-nav * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav .options li {
    margin-left: 20px;
}

.top-nav .btn {
    margin-left: 20px;
}

/* side-navs */
.left-nav, .right-nav {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: end;

    width: 128px;
    height: 100%;

}

.line {
    width: 6px;
    height: 100px;
    background-color: black;
    border-radius: 6px;
}

.left-nav {
    left: 0;
}
.left-nav img {
    padding-bottom: 20px;
    width: 32px;
    height: 32px;
}

.right-nav {
    right: 0;
}
.right-nav .verti {
    padding-bottom: 20px;
}


/*********************
MAIN
*********************/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 128px;
}

.main > div {
    padding: 80px 50px;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    box-sizing: border-box;
    
    width: 100%;
    max-width: 1000px;
}

.intro .code {
    padding-bottom: 16px;
}

.intro p {
    max-width: 512px;
    padding-top: 16px;
}

.intro .btn {
    margin-top: 48px;
}

/* about */
.about {
    max-width: 900px;
    box-sizing: border-box;
}

.about .data {
    display: flex;
    align-items: start;
    justify-content: center;
}

.about .data .para {
    width: 100%;
    max-width: 510px;
}

.about .data .dp {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 64px 16px;
}

.about .data .para .tech-used {
    display: flex;
    justify-content: left;
}

.about .data p, .about .data ul {
    padding-top: 16px;
}

.about .data ul {
    padding-left: 16px;
    margin-right: 16px;
}

.about .data img {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 6px;
}

/* education */
/* .education {
    width: 100%;
    box-sizing: border-box;
    max-width: 800px;
}

.education .data {
    display: flex;
    flex-direction: column;

    padding-right: 32px;

}

.education .remarks {
    padding-top: 32px;
}

.education p {
    padding-left: 8px;
} */

/* Projects */
.projects {
    box-sizing: border-box;
    max-width: 1000px;
}

.projects .pro {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 64px;
}

.projects .docs {
    display: flex;
    flex-direction: column;
    height: fit-content;
    z-index: 1;
}

.projects .sshot {
    width: 150%;
}

.projects .right .docs {
    align-items: end;
    margin-left: -8%;
    text-align: end;
}

.projects .left .sshot {
    margin-left: -8%;
}

.projects .card {
    padding: 1.5rem;
    margin: 1rem 0;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
}

.projects .pro img {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
    min-height: 300px;
}

/* contacts */
.contact {
    display: flex;;
    flex-direction: column;

    box-sizing: border-box;

    text-align: center;
    max-width: 600px;
    align-items: center;
}

.contact p {
    padding: 0.5rem;
}

.contact .btn {
    margin-top: 2rem;
}

/* credit */
#footer {
    padding: 1rem;
}

#footer p {
    font-size: 0.75rem;
}


/*********************
media queries
*********************/

@media (max-width: 1256px) {
    .intro h1 {
        font-size: 5vw;
    }
}

@media (max-width: 1000px) {
    .left-nav, .right-nav {
        width: 80px;
    }
    .main {
        padding: 0 80px;
    }
    .projects .right .docs {
        margin-left: -32%;
    }
    
    .projects .left .sshot {
        margin-left: -32%;
    }

}

@media (max-width: 760px) {
    .main {
        padding: 0;
    }

    .intro h1 {
        font-size: 7vw;
    }
    
    h2 {
        font-size: 5vw;
    }

    .right-nav, .left-nav {
        display: none;
    }

    .about .data {
        flex-direction: column;
        align-items: center;
    }

    .about .data .para {
        max-width: 100%;
    }

    /* projects */
    .projects .pro {
        position: relative;
    }
    .projects .docs {
        z-index: 5;
        padding: 16px;
        margin-bottom: 16px;
    }

    .projects .card {
        padding: 0;
        background: none;
        border: none;
    }

    .projects .left .docs, .projects .right .docs {
        align-items: start;
        text-align: start;

        position: absolute;
        margin: 0;
        padding: 16px;

        z-index: 5;
    }

    .projects .left .sshot, .projects .right .sshot {
        margin: 0;
        padding: 0;
    }
    

}